
body{
  background-color: #ffff;
}

.contenedor {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  border-left: 2px solid #b377c7;
  border-right: 2px solid #b377c7;
  border-top: 2px solid #b377c7;
  height: 92vh;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  
}

.encabezado h1{
  font-size: 80px;
  margin: 0;
}

.encabezado p{
  font-size: 30px;
  margin: 0;
}


.menu {
  display: flex;           
  justify-content: left; 
  flex-direction: column;     
  height: 100%;      
  border-bottom: 2px solid #b377c7;  
}

.menu ul {
  list-style: none;
  padding: 30px;
  margin: 0;               
}

.menu li {
  padding: 10px;     
}

.menu li:last-child {
  margin-right: 0;         
}


.pie-de-pagina {
  text-align: justify;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 35px;
  margin-top: auto; 
  width: 80%; 
}

.jojo {
  width: 7%;
}

.button {
  --color: #b377c7;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
 }
 
 .button::before, .button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
 }
 
 .button::before {
  top: -1em;
  left: -1em;
 }
 
 .button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .button:hover::before, .button:hover::after {
  height: 410px;
  width: 410px;
 }
 
 .button:hover {
  color: rgb(10, 25, 30);
 }
 
 .button:active {
  filter: brightness(.8);
 }

 .Cuadrado{
  width: 45%;
  border-radius: 20px;
  margin: 10px;
  padding: 0;
  background-color: #b377c7;
 }

 .ContenedorForm{
  display: flex;
  flex-direction: row;
  justify-content: center;
 }

 .logotipo{
  height: 50%;
  width: 40%;
  display: flex;
 }

 .contenedor-titulo{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
 }

 .Cuadrado-mini{
  background-color: #b377c7;
  padding: 7px;
  border-radius: 20px;
  width: 98%;
 }

 .img-block{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: auto;
  width: 60%;
 }

 