
body{
  background-color: #ffff;
}

.contenedor {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  border-left: 2px solid #31233e;
  border-right: 2px solid #31233e;
  border-top: 2px solid #31233e;
  height: 92vh;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  
}

.encabezado h1{
  font-size: 80px;
  margin: 0;
}

.encabezado p{
  font-size: 30px;
  margin: 0;
}


.menu {
  display: flex;           
  justify-content: left; 
  flex-direction: column;     
  height: 100%;      
  border-bottom: 2px solid #31233e;  
}

.menu ul {
  list-style: none;
  padding: 30px;
  margin: 0;               
}

.menu li {
  padding: 10px;     
}

.menu li:last-child {
  margin-right: 0;         
}


.pie-de-pagina {
  text-align: justify;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 35px;
  margin-top: auto; 
  width: 80%; 
}

.jojo {
  width: 7%;
}


.button {
  --color: #b1d4b6;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
 }
 
 .button::before, .button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
 }
 
 .button::before {
  top: -1em;
  left: -1em;
 }
 
 .button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .button:hover::before, .button:hover::after {
  height: 410px;
  width: 410px;
 }
 
 .button:hover {
  color: rgb(10, 25, 30);
 }
 
 .button:active {
  filter: brightness(.8);
 }

 .Cuadrado{
  width: 45%;
  border-radius: 20px;
  margin: 10px;
  padding: 0;
  background-color: #69a5a4;
 }

 .ContenedorForm{
  display: flex;
  flex-direction: row;
  justify-content: center;
 }

 .logotipo{
  height: 50%;
  width: 40%;
  display: flex;
 }

 .contenedor-titulo{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  padding-top: 25vh;
  
 }

 .Cuadrado-mini{
  background-color: #b1d4b6;
  padding: 7px;
  border-radius: 20px;
  width: 98%;
 }

 .img-block{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: auto;
  width: 60%;
 }

 .wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .discord:hover,
.wrapper .discord:hover .tooltip,
.wrapper .discord:hover .tooltip::before {
  background: #8740e4;
  color: #fff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #626364;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #c22e5f;
  color: #fff;
}

.WartyF{
  height: 45vh;
  padding-left: 35%;
  margin: 0;
}

.card {
  --bg: #f7f7f8;
  --hover-bg: #69a5a4;
  --hover-text: #b1d4b6;
  max-width: 23ch;
  text-align: center;
  background: var(--bg);
  padding: 1.5em;
  padding-block: 1.8em;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: .3s cubic-bezier(.6,.4,0,1),transform .15s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.card__body {
  color: #464853;
  line-height: 1.5em;
  font-size: 1em;
}

.card > :not(span) {
  transition: .3s cubic-bezier(.6,.4,0,1);
}

.card > strong {
  display: block;
  font-size: 1.4rem;
  letter-spacing: -.035em;
}

.card span {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hover-text);
  border-radius: 5px;
  font-weight: bold;
  top: 100%;
  transition: all .3s cubic-bezier(.6,.4,0,1);
}

.card:hover span {
  top: 0;
  font-size: 1.2em;
}

.card:hover {
  background: var(--hover-bg);
}

.card:hover>div,.card:hover>strong {
  opacity: 0;
}

.form-proyectos{
  display: flex;
  flex-direction: row;
  
  padding-left: 10vh;
  padding-right: 10vh;
}

.lolN{
  height: 35vh;
  padding-top: 5%;
  padding-left: 17%;
  padding-right: 17%;
}

.img-idiomas{
  height: 20vh;
  padding-left: 15%;
  padding-top: 10%;
  
}

.link-decoration{
  text-decoration: none;
}

#botonArriba{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  transition: all 1s;
}